body {
  margin: 0;
  padding: 0;
  font-family: Calibri, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Calibri, sans-serif;
}

#root{
  display: -ms-grid;
  display: grid;
}

.headerLogoAndTitle
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 3rem;
  gap: 8px;
}

.headerLogo
{
  border: none;
  outline: none;
  width: 3rem;
  height: 3rem;
  display: inline-block;
  padding: 0;
  overflow: hidden;
}

.headerUsername {
  font-family: Calibri, sans-serif;
  font-size: 160%;
  color: #FFFFFF;
  cursor: default;  
}

.headerTitle{
  font-weight: 600;
  font-family: Calibri, sans-serif;
  font-size: 180%;
  color: #FFFFFF;
  cursor: default; 
}

.headerLoginArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.page{
  position:relative;
  width: 100%;
  height: calc(100vh - 4rem);
  display: -ms-grid;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: auto 1fr;
}

label{
  margin-left: 32px;
}

.leaflet-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 8rem);
  z-index: 0;
}

.poiPopUpContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: left;
  gap: 8px;
  font-family: Calibri, sans-serif;
}

.popUpButtonsContainer{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 8px;
}

.poiTitle {
  position: relative;
  margin: 4px;
}

.poiClosed{
  position: relative;
  top: -8px;
  margin: 0;
  color: rgb(219, 1, 1);
  background-color: rgb(255, 219, 219);
  border-radius: 8px;
  padding: 4px 8px;
}

.poiOpen{
  position: relative;
  top: -8px;
  margin: 0;
  color: rgb(111, 185, 0);
  background-color: rgb(227, 255, 219);
  border-radius: 8px;
  padding: 4px 8px;
}

.leafletSearchBarContainer {
  position: relative;
  z-index: 1;
  width:100%;
  height: 3.5rem;
  background-color: #F2C14E;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.leafletSearchBar {
  position: relative;
  width:100%;
  height: 80%;
  max-width: 600px;
  margin-left: 1rem;
}

.MuiInputLabel-root {
  /* margin: 0; */
}

.MuiDataGrid-columnHeaderTitle{
  font-size: 140%;
  font-weight: 600;
  font-family: Calibri, 'sans-serif';
  display: block;
  width: 100%;
  text-align: center;
}

.MuiDataGrid-cell{
  font-size: 120%;
  font-weight: 400;
  font-family: Calibri, 'sans-serif';
  display: block;
  width: 100%;
  text-align: center;
}

.sideMenu{
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 3;
  min-width: 40px; 
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  -webkit-box-shadow: 1px 0px 5px 0px  rgba(0,0,0,0.3); 
  box-shadow: 1px 0px 5px 0px  rgba(0,0,0,0.3);
}

.menuButtonContainer{
  position: relative;
  width: 100%;
  height: auto;
}

.menuButtonContent{
  position:relative;
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  gap: 4px;
  text-transform: capitalize;
  font-family: Calibri, sans-serif;
  font-size: 160%;
}

.menuExitButton{
  position: absolute;
  bottom: 0;
  width:100%;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: rgba(0, 0, 0, 0.3);
}

.pageContent{
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  position: relative;
  width: 100%;
  height: calc(100vh - 4rem);
  overflow-y: scroll;
}

.textInput{
  width: 100%;
}

.loginBackground{
  background-image: url('images/loginPhoto.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right; 
  position: absolute;
  width: 100%;
  height: 100%;
} 

.loginPageContainer {
  position: relative;
  width: 100vw;
  height: calc(100vh - 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border: solid white;
  border-radius: 12px;
  background-color: white;
  height: 64vh;
  width: 32vw;
}

.loginText{
  font-size: 200%;
  color: #018E42;
  margin-bottom: 30px; 
  font-weight: 600;
  font-family: Calibri, sans-serif;
}

.signupText{
  font-size: 200%;
  color: #F2C14E;
  margin-bottom: 30px; 
  font-weight: 600;
  font-family: Calibri, sans-serif;
}

.loginUsername{
  margin-bottom: 30px; 
}

.signupUsername{
  margin-bottom: 30px; 
}

.loginPassword{
  margin-bottom: 30px; 
}

.signupPassword{
  margin-bottom: 30px; 
}

.signupEmail{
  margin-bottom: 30px;
}

.signupConfirmPassword{
  margin-bottom: 30px;
}

.loginButton{
  margin-bottom: 30px; 
}

.signupButton{
  margin-bottom: 30px; 
}

.signupTextChange {
  font-size: 100%;
  color: #F2C14E;
}
.signupTextChange:hover{
  text-decoration: underline #F2C14E ;
  cursor: pointer;
}

.loginTextChange {
  font-size: 100%;
  color: #018E42;
}
.loginTextChange:hover{
  text-decoration: underline #018E42;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltipText {
  visibility: hidden;
  width: 60px;
  background-color: #393E41;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  font-family: Calibri, sans-serif;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -40px;
  opacity: 0;
  transition: opacity 0.4s;
}

.tooltip .tooltipText::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #393E41 transparent transparent transparent;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 0.8;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #84BCDA;
  border: 0px none;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #F2C14E;
}
::-webkit-scrollbar-thumb:active {
  background: #F2C14E;
}
::-webkit-scrollbar-track {
  background: #F5F5F5;
  border: 0px none;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #F5F5F5;
}
::-webkit-scrollbar-track:active {
  background: #dadada;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

element.style {
  width: 100%;
}

@keyframes animMarker {
  0% {
    transform: rotate(45deg) translate(5px, 5px);
  }
  100% {
    transform: rotate(45deg) translate(-5px, -5px);
  }
}

@keyframes animShadow {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}


@media (max-width: 800px)
{
  .sideMenu {
    width: 40px;
  }

  #menuButton {
    width: 40px;
    min-width: 40px;
    padding: 1em 0;
  }
  .menuButtonContent{
    width: 40px;
    justify-content:center;
  }

  .menuButtonText{
    display:none;
  }

  .leafletSearchBar{
    margin: 0;
  }
}

@media (max-width: 610px) {
  .headerLogo {
    width: 2.5rem;
    height: 2.5rem;
  }

  .headerTitle{
    display: none;
  }

  .headerLoginArea{
    display: none;
  }
}